# {{ ansible_managed }}

{% for key, value in ansible_role_vsftpd_combined_config_options.items() %}
{% if key is defined and value | string | length %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}
